body{
    background-color: blanchedalmond;
}

.test {
height: 35vh;
width: 25vh;
border-radius:5%;
border-width: 1vh;
border-color: black;
border-style: solid;
position:absolute;
top: 50%;
visibility: hidden;
}
.card-back {
height: 35vh;
width: 25vh;
position:absolute;
top: 50%;
}
form{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 103px;
    align-items: end;
    justify-content: end;
}