body{
    background-color: blanchedalmond;
}

:root {
--draw-value: 10;
--draw-distance: calc(var(--draw-value) * 1vw);
}

.draw-animation {
animation: draw 1s ease-out forwards;
}

.test {
height: 35vh;
width: 20vh;
border-radius:5%;
border-width: 1vh;
border-color: black;
border-style: solid;
position:absolute;
top: 50%;
opacity: 1;
transform: translateX(0);
z-index:1;
cursor:pointer;

--r: 0;
--g: 0;
--b: 0;
--alpha: 0;
background-color: rgba(var(--r), var(--g), var(--b), var(--alpha));
box-shadow:  5px 5px 10px 5px rgba(0, 0, 0, 0.39);
}
.test img{
    width: 90%;
    aspect-ratio: 1/1;
    margin-left: 5%;
    margin-top: 10%;
}
.card-back {
height: 37vh;
width: 11.5vw;
position:absolute;
top: 50%;
z-index: 6;
}
form{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 103px;
    align-items: end;
    justify-content: end;
}
.test img {
    opacity:inherit;
}
@keyframes draw {
    from {
    --alpha: 0;

    transform: translateX(0);
    }
    to {
    --alpha: 1;    
    transform: translateX(var(--draw-distance));
    }

}
#player{
width: 200px;
position: fixed;
top: 15%;
left: 20%;
}
#enemy{
width: 200px;
position: fixed;
top: 15%;
right: 20%;
}
#fadeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 100;
  color: red;
}

