body{
    background-color: blanchedalmond;
}

:root {
--draw-value: 10;
--draw-distance: calc(var(--draw-value) * 1vw);
}

.draw-animation {
animation: draw 1s ease-out forwards;
}

.test {
height: 35vh;
width: 25vh;
border-radius:5%;
border-width: 1vh;
border-color: black;
border-style: solid;
position:absolute;
top: 50%;
opacity: 0;
transform: translateX(0);
}
.card-back {
height: 35vh;
width: 25vh;
position:absolute;
top: 50%;
}
form{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 103px;
    align-items: end;
    justify-content: end;
}

@keyframes draw {
    from {
    opacity: 0;
    transform: translateX(0);
    }
    to {
    opacity: 1;    
    transform: translateX(var(--draw-distance));
    }

}
#player{
width: 200px;
position: fixed;
top: 15%;
left: 20%;
}
#enemy{
width: 200px;
position: fixed;
top: 15%;
right: 20%;
}