body{
    background-color: blanchedalmond;
}

.test {
height: 35vh;
width: 25vh;
border-radius:5%;
border-width: 2vh;
border-color: black;
border-style: solid;
}
form{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 103px;
    align-items: end;
    justify-content: end;
}