<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page: {{name}}</title>
  <link rel="shortcut icon" href="{{url_for('static',filename = 'img/card.png')}}" type="image/x-icon">
</head>

<body>
  <h1>hello {{name}}</h1>
  <a href="{{url_for('new')}}"><button>new game</button></a>
  <a href="{{url_for('logout')}}"><button>log out</button></a>
  {% for item in runs%}
  <div style="padding: 20px;margin: 20px; width: 40vw; border: solid black 5px; border-radius: 25px;">
    <h1>runner: {{name}}</h1>
    <p>hp:{{item['hp']}}</p>
    <p>enemey hp: {{item['e_hp']}}</p>
    <p>result: {%if item['hp'] == 0 %} lost {% elif item['e_hp'] == 0 %} win {% else %} undecided {% endif %} </p>

    <a href="{{url_for('play', id = item['id'])}}"><button>start game:{{item['id']}}</button></a>
  </div>

  {% endfor %}
  {%if not runs[0]%}
  <h1>there are no runs for you to play</h1>
  {% endif%}

</body>

</html>